<div class="registration">
    <div class="container grid">
        <form class = "reg-form text-center">
            <h4>Register</h4>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" minlength="2" maxlength="25" id = "firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" minlength="2" maxlength="25" id = "lastName" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control" minlength="8" maxlength="20" id = "username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" minlength="8" maxlength="20" id = "password" required>
            </div>
            <div class="form-group">
                <label for="contactNumber">contactNumber</label>
                <input type="text" class="form-control" minlength="11" maxlength="11" id = "contactNumber" required>
            </div><br>
            <button type="submit" class="btn">Register</button>
        </form>
        <div class="shop-icon">
            <img src="./assets/icons/shop.png" alt="shop">
        </div>
    </div>
</div>
