<div class = "cart-info background-primary">
    <div class="background-primary text-center">
        <h4 class="p-1 text-center">Shopping Cart</h4>
        <div class="container flex ">
            <div class="card">
                <h6>Items in cart</h6>
                <ul class="cart-list">
                    <li *ngFor="let coffee of cart">
                        <div class="grid-3">
                            <p>${{coffee.name}}</p>
                            <p>${{coffee.price}}</p>
                            <button type="button" class="btn btn-primary" (click)="removeItem(coffee)" 
                                value="delete">
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="conatiner">
                    <button type="button" class="btn btn-primary" (click)="checkOut()" value="check-out">Check-out</button>
                </div>
            </div>
        </div>
    </div>

</div>
