.info-bar{
    max-height: 500px;
    background-color: darkolivegreen;
    color: #fff;
}

.landing-content{
    background-color: darkolivegreen;   
}
.card{
    width: 120px;
    height: 150px;   
}

.landing-content .card{
    transition: transform 0.2s;
}
.landing-content .card:hover{
    transform: translateY(-15px);
}

.container{
    overflow: hidden;
}
.grid{
    justify-items: center;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
}

h1{
    color: #fff;
}

.our-service .container .flex{
    justify-content: space-between;
    justify-items: center;
}

.card img{
    justify-items: center;
    height: 60px;
    width:70px;
    padding-top: 5px;
}

.register img{
    height: 150px;
    width: 150px;
}
.register h2{
    justify-content: center;
}

.order img{
    height: 150px;
    width: 150px;
}

.collect img{
    height: 150px;
    width: 150px;
}

.info p{
    font-size: 18px;
    font-weight: 150;
    line-height: 1.4;
}