<div class="landing-content text-center ">
    <h1>Daily deals</h1>
    <div class="container">
        <div class="info-bar grid">
            <div class="grid">
                <p>
                   Latte and Sandwhich for £4.99 
                </p>
                <div class="card">
                    <img src="./assets/icons/coffee-cup.png" alt="coffee-cup">
                    <img src="./assets/icons/sandwich.png" alt="sandwich">
                </div>
            </div>
            <div class="grid">
                <p>
                    Capachino and Croissant £4.99
                </p>
                <div class="card">
                    <img src="./assets/icons/coffee-cup.png" alt="coffee-cup">
                    <img src="./assets/icons/croissant.png" alt="croissant">
                </div>
            </div>
            <div class="grid">
                <p>
                    Frappe and Cake £4.99
                </p>
                <div class="card">
                    <img src="./assets/icons/frappe.png" alt="frappe">
                    <img src="./assets/icons/cake-slice.png" alt="cake-slice">
                </div>
            </div>
       </div>
    </div>
</div>
<div class="our-service">
    <div class="container">
        <div class="info text-center">
            <p>
                Simple registration, quick ordering process and easy to locate stores
            </p>
        </div>
        <div class="flex">
            <div class="register">
                <div class="grid-2">
                    <div>
                        <img src="./assets/icons/sign-up.png" alt="sign-up icon">
                    </div>
                    <div>
                        <h2>Register</h2>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="grid-2">
                    <div>
                        <img src="./assets/icons/order.png" alt="order icon">
                    </div>
                    <div>
                        <h2>Order</h2>
                    </div>
                </div>
            </div>
            <div class="collect">
                <div class="grid-2">
                    <div>
                       <img src="./assets/icons/shop.png" alt="shop icon">
                    </div>
                    <div>
                        <h2>Collect</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
