<div class="user-landing background-primary">
    <div class="container">
        <h2 *ngIf="username" class ="text-center">Welcome {{username}}</h2>
        <div class = "grid">
            <div class="card text-center">
                <h4 class="text-center">breakfast Special</h4>
                <img src="" alt="food item">
            </div>
            <div class="card text-center">
                <h4 class="text-center">Lunch time special</h4>
                <img src="" alt="food item">
            </div>
            <div class="card text-center">
                <h4 class="text-center">Afternoon special</h4>
                <img src="" alt="food item">
            </div>
            <div class="card text-center">
                <h4 class="text-center">Evening special</h4>
                <img src="" alt="food item">
            </div>
        </div>
        <div class="news-info flex background-secondary text-center py-3">
            <div class="info-stores text-center m-4">
                <h3 class="text-center">Store news</h3>
                <p>latest store news gets displayed here, such as new stores,
                    changes to opening times etc.
                </p>
            </div>
            <div class = "info-coffees text-center m-4">
                <h3 class="text-center">Coffee news</h3>
                <p>
                    latest news related to coffees sold by stores gets displayed here,
                    this news could be in regards to ingrident changes, price changes or
                    new coffees available
                </p>
            </div>
            <div class ="info-promo text-center m-4"> 
                <h3 class="text-center">Promotional news</h3>
                <p>
                    Promotional new get displayed here, news on new promotions, 
                    promotions due to end soon.
                </p>
            </div>
        </div>
    </div>
    
</div>
